<%= form_for [:admin, @location] do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= params.inspect %>

    <div class="field">
      <% if params['conf_id'] %>
        Conference:  <%= params['conf_fname'] %>
        <%= hidden_field( :location, :conference_id, value: params['conf_id']) %>
      <% else %>
        <%= f.label :conference_id, 'Conference' %><br>
        <%= select_tag 'location[conference_id]', options_from_collection_for_select(Conference.all, 'id', 'fullname') %>
      <% end %>
   </div>

  <div class="field">
    <%= f.label :place_type %><br>
    <%= f.text_field :place_type %>
  </div>
   <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name%>
  </div>
   <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :contact_id, 'Contact' %><br>
    <%= select_tag 'location[location_id]', options_from_collection_for_select(Contact.all, 'id', 'surname', 'location.id+1') %>
  </div>






  <div class="field">
    <%= f.label :how_to_find %><br>
    <%= f.text_area :how_to_find, as: :wysihtml5 %>
  </div>
  


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
