<p id="notice"><%= notice %></p>

<% @location.each  do |location| %>

<p>
 <strong>Place Type:</strong>
  <%= location.place_type %>
</p>

<p>
 <strong>Name:</strong>
  <%= location.name %>
</p>

<p>
 <strong>City:</strong>
  <%= location.city %>
</p>

<p>
 <strong>Address:</strong>
  <%= location.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= location.longitude %>
</p>

<p>
  <strong>Conference:</strong>
  <%= location.conference.name%>-<%= location.conference.year %>
</p>

<br />

<% end %>
