<table class="table table-responsive">
  <thead>
    <tr>
        <th>title</th>
        <th>type</th>
        <th>responsable/speaker</th>
        <th>video</th>
        <th>publish</th>
        <th>edit</th>
        <th>delete</th>
    </tr>
  </thead>
  
  <tbody>
    <% @events.each do |event| %>
      <tr class = 'event_<%= event.id %>_row'>
        <td><%= event.title %></td>
        <td><%= event.event_type.name %></td>
        <td>
          <% unless event.speaker.nil? %>
            <%= link_to event.speaker.fullname, speaker_path(event.speaker.id), class: '' %>
          <% end %>          
          <% unless event.responsable.nil? %>
            <%= event.responsable %>
          <% end %>
        </td>
        <td>
          <% unless event.video.nil? %>
            <%= link_to '', event.video, class:"btn btn-default btn-xs glyphicon glyphicon-play" %>
          <% end %>
        </td>
        <td class='publish'>
            <% if event.published %>
              Published
            <% else %>
              <%= link_to 'Publish', publish_admin_event_path(event), remote: true, class: 'btn btn-xs btn-primary'%>              
            <% end %>
        </td> 
        <td><%= link_to 'Edit', edit_admin_event_path(event), class: 'btn btn-xs btn-warning' %></td>
        <td><%= link_to 'Destroy', admin_event_path(event), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>