<%= form_for [:admin, @event],  html: {class: 'form-horizontal'}  do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field( :event, :conference_id, value: params["conf_id"] || 
      if( @event.conference ) then @event.conference.id end || Conference.last.id )%> 

  <div class="form-group">
    <%= f.label :event_type_id, 'Event type*', class: "col-lg-2 control-label"%>
    <div class="col-lg-10">
      <%= select_tag 'event[event_type_id]', options_from_collection_for_select(EventType.all, 'id', 'name', @event.event_type_id || 1), class: "form-control", onchange: 'getDefaultDuration()' %>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :duration, class: "col-lg-2 control-label" %>
    <div id='event_duration_hour' class='col-lg-10'>

      <% if @event.duration %>
        <% duration_hour = @event.duration.hour %>
        <% duration_min = @event.duration.min %>
      <% else %>
        <% duration_hour = EventType.first.defaultDuration.hour %>
        <% duration_min = EventType.first.defaultDuration.min %>
      <% end %>

      <input type='text' id='event_hours' class='form-control time-field' onchange = 'setEventHoursDuration()' value='<%= duration_hour %>'>
      :
      <input type='text' id='event_mins' class='form-control time-field' onchange = 'setEventMinsDuration()' value='<%= duration_min %>'>

    </div>

    <%= f.hidden_field :duration, value: @event.duration || EventType.first.defaultDuration %>
  </div>



  <div class="form-group">
    <%= f.label :title, 'Name*', class: "col-lg-2 control-label"%>
    <div id='event_duration_hour' class='col-lg-10'>
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "col-lg-2 control-label"%>
    <div class="col-lg-10">
      <%= f.text_area :description, class: "form-control", rows: "3" %>
    </div>
  </div>

  <div class="form-group" id='event_speaker_id_group' style='display: none;'>
    <%= f.label :speaker_id, 'Speaker', class: "col-lg-2 control-label"%>
    <div class="col-lg-10">
      <%= select_tag 'event[speaker_id]', content_tag(:option,'No speaker', value: "")+options_from_collection_for_select(Speaker.all, 'id', 'name', @event.speaker_id || ''), class: "form-control" %>
    </div>
  </div>

  <div class="form-group" id='event_materials_group' style='display: none;'>
    <%= f.label :materials, class: "col-lg-2 control-label"%>
    <div class="col-lg-10">
      <%= f.file_field :materials, class: "btn btn-default" %>
    </div>
  </div>
  
  <div class="form-group" id='event_responsable_group'>
    <%= f.label :responsable, class: "col-lg-2 control-label"%>
    <div class="col-lg-10">
      <%= f.text_field :responsable, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group" >
    <%= f.label :video, class: "col-lg-2 control-label"%>
    <div class="col-lg-10">
      <%= f.text_field :video, class: 'form-control' %>
    </div>
  </div>


  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <%= f.submit %>
    </div>
  </div>
<% end %>