<h1>Listing events <%= if @conference then " - " + @conference.fullname end %> </h1>

<ul class="nav nav-tabs">
  <li class="active"><a href="#all_events" data-toggle="tab" aria-expanded="true">All</a></li>
  <li class=""><a href="#speaker_events" data-toggle="tab" aria-expanded="false">Speaker (<%= @speaker_events.count %>)</a></li>
  <li class=""><a href="#non_speaker_events" data-toggle="tab" aria-expanded="false">Regular (<%= @non_speaker_events.count %>)</a></li>
</ul>

<div id="events_tabs" class="tab-content">
  <div class="tab-pane fade active in" id="all_events">
    <%= render 'all_events' %>
  </div>
  <div class="tab-pane fade" id="speaker_events">
    <%= render 'speaker_events' %>
  </div>
  <div class="tab-pane fade" id="non_speaker_events">
    <%= render 'non_speaker_events' %>
  </div>
</div>


<br>

<% if can? :create, Event %>
<%= link_to 'New event', new_admin_event_path  %>
<% end %>