<h1>Listing News
  <%= if @conference 
   'of ' + @conference.fullname 
   end %>
</h1>
<table class="display data_table" width="100%" cellspacing="0">
  <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Conference_id</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
  </thead>
  <tbody> 
    <% @news.each do |news| %>
    <tr>
      <td><%= news.title %></td>
      <td><%= news.content %></td>
      <td><%= news.conference_id %></td>
      <td><%=  link_to 'Edit', edit_admin_news_path(news), class: 'btn btn-xs btn-warning' %></td>
      <td><%= link_to 'Destroy', admin_news_path(news), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, News %>
  <% if @conference %>
    <%= link_to 'New news', controller: 'admin/news', 
                             action: 'new',
                             conf_id: @conference.id,
                             conf_fname: @conference.fullname %>
  <% else %>
      <%= link_to 'New news', controller: 'admin/news', 
                             action: 'new' %>
  <% end %>
<% end %>