<% content_for :title, @conference.fullname %>
<div class="row">
  <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="map col-lg-12">
      <div id="map-area" longitude="<%= @location.longitude %>" latitude="<%= @location.latitude %>" >
        <div id="map" class="show_map"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 address-box ">
      <div class="address-container">
          <h2>Address</h2>
          <p><b>Place Type: </b><%= @location.place_type %></p>
          <p><b>Name: </b><%= @location.name %></p>
          <p><b>Address: </b><%= @location.address %>, <%= @location.city %></p>
      </div>
      <div class="contacts-container">
        <h2>Contacts</h2>
          <% @location.contacts.each do |contact| %>
          <div class="contact-det">
            <p><b><%= contact.name %> <%= contact.surname %></b><p>
            <td><% contact.splited_mail.each do |mail| %>
              <p><b>Mail: </b><a href="mailto:<%= mail %>"><%= mail %></a><br></p>
            <% end %></td>
            <p><td><% contact.splited_telephone.each do |telephone| %>
            <p><b>Telephone: </b><%= telephone %><br></p>
            <% end %></td></p>
          </div>
          <% end %>
      </div>
        <% unless(@location.how_to_find.to_s === "") %>
          <h2>How To Find</h2>
          <div class="bckgrnd">
            <p><%= @location.how_to_find.html_safe %></p>
          </div>
        <% end %>
  </div>
</div>




