<% content_for :title, @conference.fullname %>
<div class="row">
  <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
      <h2>Direction map</h2>
    <div class="map col-lg-12">
      <iframe width="96%" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=<%= @location.latitude %>,<%= @location.longitude %>&amp;z=15&amp;output=embed"></iframe>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 address-box ">
      <div class="address-container">
          <h2>Address</h2>
          <p><b>Place Type: </b><%= @location.place_type %></p>
          <p><b>Name: </b><%= @location.name %></p>
          <p><b>Address: </b><%= @location.address %>, <%= @location.city %></p>
      </div>
      <div class="contacts-container">
        <h2>Contacts</h2>
          <% @location.contacts.each do |contact| %>
          <div class="contact-det">
            <p><b><%= contact.name %> <%= contact.surname %></b><p>
             <td><% contact.splited_mail.each do |mail| %>
             <p><b>Mail: </b><%= mail %><br></p>
            <% end %></td>
            <p><td><% contact.splited_telephone.each do |telephone| %>
            <p><b>Telephone: </b><%= telephone %><br></p>
            <% end %></td></p>
          </div>
          <% end %>
      </div>
        <h2>How To Find</h2>
        <p><%= @location.how_to_find.html_safe %></p>
  </div>
</div>




