<div class="row">
  <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
      <h1>Pacemaker: <%= @conference.name%>, <%= @conference.location.city %>, <%= @conference.date %></h1>
      <div class="bckgrnd">
      <%= @report.description.html_safe %>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 address-box ">
    <% unless(@conference.photo.to_s === "") %>
  	  <h2>Photos</h2>
      <%= link_to image_tag("ico_photos.png", class: "report_icons"),  @conference.photo %>
    <% end %>
    <% unless(@conference.video.to_s === "") %>
  	  <h2>Videos</h2>
      <%= link_to image_tag("ico_videos.png", class: "report_icons"),  @conference.video %>
    <% end %>
  </div>
</div>

