	
<div class="row">
	<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
		<div class='speakers-list'>
			<h2>Speakers:</h2>
			<div class="main-speakers-box">	
				<% @topics.each do |topic| %>
					<div class='speaker-container'>
						<div class='speaker-photo'>
							<% speaker = topic.speaker %>	
							<%= image_tag( speaker.photo.url(:thumb), class: 'photo', alt: speaker.name ) %>
						</div>
						<div class='speaker-name speech-info'>
							<%= link_to speaker.fullname, speaker_path(speaker) %>
						</div>
						<div class='speech-info'>
							<%= topic.title %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>	
	<div class="col-lg-3 col-md-3"></div>
	<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
		<div class='lightning-talks-list'>
			<h2>Lightning talks:</h2>
			<div>	
				<% @lightnings.each do |lightning| %>
						<div class='lightning-speaker-container'>
							<div class='speaker-photo'>
								<% speaker = lightning.speaker %>	
								<%= image_tag( speaker.photo.url(:thumb), class: 'photo', alt: speaker.name ) %>
							</div>
							<div class='speaker-name speech-info'>
								<%= link_to speaker.fullname, speaker_path(speaker) %>
							</div>
							<div class='speech-info'>
								<%= lightning.title%>
							</div>
						</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="col-lg-3"></div>
</div>
