
<div class="Main menu"></div>

<div class="container">
	<div class="row">
	  <div class="col-lg-6 col-md-6 col-sm-12">
	    <ul class="nav nav-pills">
	        <li><a href="#">About</a></li>
	        <li><a href="#">Speakers</a></li>
	        <li><a href="#">Schedual</a></li>
	        <li><a href="#">Location</a></li>
	        <li><a href="#">Report</a></li>
	    </ul>
	  </div>
	  <div class="col-lg-6 col-md-6"></div>
	</div>
	<div class="conteiner main-context">
	  <div class="row">
	    <div class="col-lg-12 col-md-12 col-sm-12">
	      <div class="blockquotes-container">
	        <blockquote class="pull-right">
	            <p>It takes all the running you can do, to keep in the same place.<br> If you want to get somewhere else, you must run at least twice as fast as that!</p>
	            <small>Red Queen</small>
	        </blockquote>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="row">
	  <div class="col-lg-8 col-md-8 col-sm-12">
	    <div class="conference-det">
	      <div class="name"><h1>Pacemaker: 
			<%= @conference.name %>   
	      </h1></div>
	    </div>
	  </div>
	  <div class="col-lg-4 col-md-4 col-sm-12">
	    <div class="conference-det-2">
	      <ul class="contacts">
	        <li>70 participant</li>
	        <li> 
	   			<%= @conference.date %>
	        </li>
	        <li>Lviv</li>
	      </ul>
	    </div>
	  </div>
	</div>
	<div class="row">
	  <div class="main-speakers col-lg-12 col-md-12 col-sm-12">
	    <h2>Main Speakers</h2>
	  </div>
	</div>
	
	<div class='content'>
		<div class='speakers-list'>
			<h2>Speakers:</h2>

			<div>	
				<% @conference.speakers.each do |speaker| %>
					<% if speaker.events[0].events_type.eventstype == 'topic' %>
						<div class='speaker-container'>
							<div class='speaker-photo'>
								PHOTO
							</div>

							<div class='speech-info'>
								<%= speaker.events[0].title %>
							</div>

							<div class='speaker-name speech-info'>
								<%= link_to speaker.name, speaker_path(speaker) %>
							</div>
						</div>
					<% end %>
					
				<% end %>
			</div>
		</div>
		<div class='lightning-talks-list'>
			<h2>Lightning talks:</h2>
			<div>	
				<% @conference.speakers.each do |speaker| %>
					<% if speaker.events[0].events_type.eventstype == 'lightning' %>
						<div class='lightning-speaker-container'>
							<div class='speaker-photo'>
								PHOTO
							</div>

							<div class='speech-info'>
								<%= speaker.events[0].title %>
							</div>

							<div class='speaker-name speech-info'>
								<%= link_to speaker.name, speaker_path(speaker) %>
							</div>
						</div>
					<% end %>
					
				<% end %>
			</div>

		</div>
	</div>
</div>