<% content_for :title, @conference.fullname %>
<div class="row">
   <div class="main-speakers col-lg-9 col-md-8 col-sm-12 col-xs-12">
      <div class='speakers-list'>
         <h4>Speakers</h4>
         <div class="main-speakers-box row">
            <% @topics.each do |topic| %>
            <% if can? :read, topic %>
            <div class='speaker-container col-lg-3 col-md-3 col-sm-4 col-xs-4 <%= topic.published ? "" : "unpublished" %> '>
               <div class='speaker-photo'>
                  <% speaker = topic.speaker %>	
                  <%= link_to( image_tag( speaker.photo.url(:thumb), class: 'photo', alt: speaker.name), speaker ) %>
               </div>
               <div class='speaker-name speech-info'>
                  <%= link_to speaker.fullname, speaker_path(speaker) %>
               </div>
               <div class='speech-info'>
                  <h3><%= topic.title %></h3>
               </div>
            </div>
            <% end %>
            <% end %>
         </div>
      </div>
      <div class='lightning-talks-list'>
         <h4>Lightning talks</h4>
         <div>
            <% @lightnings.each do |lightning| %>
            <% if can? :read, lightning %>
            <div class='lightning-speaker-container col-lg-3 col-md-3 col-sm4 col-xs-4 <%= lightning.published ? "" : "unpublished" %> '>
               <div class='speaker-photo'>
                  <% speaker = lightning.speaker %>	
                  <%= link_to( image_tag( speaker.photo.url(:thumb), class: 'photo', alt: speaker.name ), speaker ) %>
               </div>
               <div class='speaker-name speech-info'>
                  <%= link_to speaker.fullname, speaker_path(speaker) %>
               </div>
               <div class='speech-info'>
                  <h3><%= lightning.title%></h3>
               </div>
            </div>
            <% end %>
            <% end %>
         </div>
      </div>
   </div>
   <div class="col-lg-3 col-md-4">
      <h4>NEWS</h4>
      <div class="list-group">
         <div href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Title</h4>
            <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
         </div>
      </div>
   </div>
</div>
<div>
   <%= render 'layouts/registrationSpeaker' %>
</div>