<% content_for :title, @conference.fullname %>

<div class="row">
	<div class="main-speakers col-lg-9 col-md-9 col-sm-12 col-xs-12">
		<div class='speakers-list'>
			<h4>Speakers</h4>
			<div class="main-speakers-box">
				<% @topics.each do |topic| %>
<<<<<<< HEAD
					<div class='speaker-container col-lg-5'>
						<div class='speaker-photo'>
							<% speaker = topic.speaker %>
							<%= image_tag( speaker.photo.url(:thumb), class: 'photo', alt: speaker.name ) %>
						</div>
						<div class='speaker-name speech-info'>
							<%= link_to speaker.fullname, speaker_path(speaker) %>
						</div>
						<div class='speech-info'>
							<h3><%= topic.title %></h3>
=======
					<% if can? :read, topic %>
						<div class='speaker-container col-lg-5 <%= topic.published ? "" : "unpublished" %> '>
							<div class='speaker-photo'>
								<% speaker = topic.speaker %>	
								<%= link_to( image_tag( speaker.photo.url(:thumb), class: 'photo', alt: speaker.name), speaker ) %>
							</div>
							<div class='speaker-name speech-info'>
								<%= link_to speaker.fullname, speaker_path(speaker) %>
							</div>
							<div class='speech-info'>
								<h3><%= topic.title %></h3>
							</div>
>>>>>>> 0a1eb622027491e93073d5359ab287c01a0c4de7
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>	
	<div class="col-lg-3 col-md-3"></div>
	<div class="light-speakers col-lg-9 col-md-9 col-sm-12 col-xs-12">
		<div class='lightning-talks-list'>
			<h4>Lightning talks</h4>
			<div>	
				<% @lightnings.each do |lightning| %>
					<% if can? :read, lightning %>
						<div class='lightning-speaker-container col-lg-5 <%= lightning.published ? "" : "unpublished" %> '>
							<div class='speaker-photo'>
								<% speaker = lightning.speaker %>	
								<%= link_to( image_tag( speaker.photo.url(:thumb), class: 'photo', alt: speaker.name ), speaker ) %>
							</div>
							<div class='speaker-name speech-info'>
								<%= link_to speaker.fullname, speaker_path(speaker) %>
							</div>
							<div class='speech-info'>
								<h3><%= lightning.title%></h3>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="col-lg-3"></div>
</div>
