<% content_for :title, @conference.fullname %>

<% @events.each do |event| %>
	<% if can? :read, event %>

		<div class="row speakers-det <%= event.published ? "" : "unpublished" %> ">
			<div class = 'full-speaker-container col-lg-7 col-md-7 col-xs-7'>
				<div class = 'photo-and-links'>
					<div class = 'speaker-photo'>
						<%= link_to( image_tag( event.speaker.photo.url(:thumb), class: 'photo', alt: event.speaker.fullname ), event.speaker ) %>
						<ul class="speaker-contacts">
							<% icons = ['facebook', 'linkedin', 'twitter', 'email', 'site'] %>

							<% icons.each do |icon| %>
								<% unless event.speaker[icon].to_s === '' %>
									<li>
										<%= link_to( image_tag(icon + "0.svg"), event.speaker[icon] ) %>
									</li>
								<% end %>
							<% end %>
						</ul>
					</div>
				</div>
				<div class = 'speaker-about'>
					<div class='speaker-name speech-info'>
						<%= link_to event.speaker.fullname, speaker_path(event.speaker) %>
					</div>
					<div><i>position: </i><%= event.speaker.position %></div>
					<div><i>about: </i><%= event.speaker.description.html_safe %></div>

				</div>	
			</div>

			<div class = 'speech-about col-lg-5 col-md-5 col-xs-5'>
				<div><strong><%= event.title %></strong></div>
				<div><%= event.description %></div>
				<div>
					<br>
					<% if event.materials.exists? %>
	          <%= link_to "", event.materials.url(:original, false), class:"btn btn-default btn-xs glyphicon glyphicon-download-alt" %>
	        <% end %>
	        <% unless event.video.to_s === '' %>
	          <%= link_to '', event.video, class:"btn btn-default btn-xs glyphicon glyphicon-play" %>
	        <% end %>
				</div>
			</div>
		</div>

	<% end %>
<% end %>