<% content_for :title, @conference.fullname %>
<% @speakers.each do |speaker| %>
	<div class='row'>	
		<% visible_speaker = false %>
		<% events = speaker.events.where(conference: @conference) %>
		<% events.each do |event| %>
			<% visible_speaker = true if can? :read, event %>
		<% end %>
		<% if visible_speaker %>
			<div class = 'full-speaker-container col-lg-7 col-md-7 col-xs-7 bckgrnd'>
				<div class = 'photo-and-links'>
					<div class = 'speaker-photo'>
						<%= link_to( image_tag( speaker.photo.url(:thumb), class: 'photo', alt: speaker.fullname ), speaker ) %>
						<ul class="speaker-contacts">
							<% icons = ['email', 'facebook', 'linkedin', 'twitter', 'site'] %>

							<% icons.each do |icon| %>
								<% unless speaker[icon].to_s === '' %>
									<li>
										<% if icon == 'email' %>
											<%= link_to( image_tag(icon + "0.svg"), 'mailto:' + speaker[icon] ) %>
										<% else %>
											<%= link_to( image_tag(icon + "0.svg"), speaker[icon] ) %>
										<% end %>
									</li>
								<% end %>
							<% end %>
						</ul>
					</div>
				</div>
				<div class = 'speaker-about'>
					<div class='speaker-name speech-info'>
						<%= link_to speaker.fullname, speaker_path(speaker) %>
						<i><%= speaker.position %></i>
					</div>
					<div><%= speaker.description.html_safe %></div>

				</div>	
			</div>
		<% end %>

		<% speaker.events.where(conference: @conference).by_position.each do |event| %>
			<% if can? :read, event %>
				<div class = 'speech-about <%= event.published ? "" : "unpublished" %> col-lg-5 col-md-5 col-xs-5 '>
					<div><strong><%= event.title %></strong></div>
					<div><%= event.description.to_s.html_safe %></div>
					<div>
						<br>
						<% if event.materials.exists? %>
		          <%= link_to "", event.materials.url(:original, false), class:"btn btn-default btn-xs glyphicon glyphicon-download-alt" %>
		        <% end %>
		        <%if event.materials_link.present? %>
	            <%= link_to "", event.materials_link, class:"btn btn-default btn-xs glyphicon glyphicon-pushpin" %>
	          <% end %>
		        <% unless event.video.to_s === '' %>
		          <%= link_to '', event.video, class:"btn btn-default btn-xs glyphicon glyphicon-play" %>
		        <% end %>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
<% end %>