<%= form_for( [:admin, @conference],  html: {class: 'form-horizontal'} ) do |f| %>

  <% if @conference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conference.errors.count, "error") %> prohibited this conference from being saved:</h2>

      <ul>
      <% @conference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<form class="form-horizontal">
  <fieldset>
    <div class="form-group">
      <%= f.label :name, class: "col-lg-2 control-label"%>
      <div class="col-lg-10">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :'year', class: "col-lg-2 control-label" %>
        <div class="col-lg-10">

      <% years_options = ''%>
      <% cur_year = Time.now.year %>
      <% (cur_year-2).upto(cur_year+2) do |year| %>
        <% if cur_year.to_s === year.to_s %>
          <% selected = " selected='selected'" %>
        <% else %>
          <% selected = '' %>
        <% end %>
        <% years_options += " <option value=" + year.to_s + selected + " > " + year.to_s + "</option> "%>
        <% end %>
        <%= select_tag "conference[year]", years_options.html_safe, class: "form-control"%>

      </div>
    </div>
    <div class="form-group">
      <%= f.label :date, class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
      <%= f.text_field :date,  class: "form-control datetimepicker"%>
      </div>
    <p>Date: <input type="text" id="datetimepicker" /></p>

    </div>
    <div class="form-group">
      <%= f.label :attenders_count, class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
      <%= f.number_field :attenders, value: "1", min: "1", class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :group_event, class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
      <%= check_box_tag :group_event, value: "" %>
      </div>
    </div>
    <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <button type="reset" class="btn btn-default">Cancel</button>
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
    </div>
  </fieldset>
</form>
<% end %>