<%= form_for( [:admin, @conference],  html: {class: 'form-horizontal'} ) do |f| %>
  <% if @conference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conference.errors.count, "error") %> prohibited this conference from being saved:</h2>

      <ul>
      <% @conference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, 'Name*', class: "col-lg-2 control-label"%>
    <div class="col-lg-7">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :year, 'year', class: "col-lg-2 control-label"%>
    <div class="col-lg-7">
      <%= f.number_field :year,value:"2015", class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :date, 'date', class: "col-lg-2 control-label"%>
    <div class="col-lg-7">
      <%= f.text_field :date, class: "form-group" %>
    </div>
  </div>
    <div class="form-group">
    <%= f.label :date, 'date', class: "col-lg-2 control-label"%>
    <div class="col-lg-7">
      <%= f.text_field :date, class: "form-group" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :attenders_count, 'attenders count', class: "col-lg-2 control-label"%>
    <div class="col-lg-7">
      <%= f.number_field :attenders_count, value:"1", class: "form-control" %>
    </div>
  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <%= f.submit "Create", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>