<%= form_for( [:admin, @conference],  html: {class: 'form-horizontal'} ) do |f| %>

  <% if @conference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conference.errors.count, "error") %> prohibited this conference from being saved:</h2>

      <ul>
      <% @conference.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="container">
  <div class="row">
    <div class="form-group">
      <%= f.label :name, "Name*", class: "col-lg-2 control-label"%>
      <div class="col-lg-7">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :'year_id', "Year*", class: "col-lg-2 control-label" %>
    <div class="col-lg-7">
      <%= select_tag "conference[year_id]", options_from_collection_for_select(Year.all, 'id', 'name', Year.last.id), class: "form-control"%>

      </div>
    </div>

    <div class="form-group">
      <%= f.label :date, class: "col-lg-2 control-label" %>
      <div class="col-lg-7">
        <div class="input-group">
          <%= f.text_field :date, id: "datetimepicker1", class: "form-control"%>
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :attenders_count, class: "col-lg-2 control-label" %>
        <div class="col-lg-7">
      <%= f.number_field :attenders, min: "1", class: "form-control" %>
        </div>
      </div>

    <div class="form-group">
      <%= f.label :group_event, class: "col-lg-2 control-label" %>
        <div class="col-lg-7">
      <%= check_box_tag :group_event, value: "" %>
      </div>
    </div>

    <%= f.hidden_field :published, value: false %>

    </div>

    <div class="form-group">
      <div class="col-lg-7 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Reset</button>
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</form>
<% end %>