<p id="notice"><%= notice %></p>
<h1>Listing Conferences</h1>
<table class="display data_table" width="100%" cellspacing="0">
  <thead>
    <tr>
        <th>Conference Name</th>
        <th>Year</th>
        <th>Date</th>
        <th>Attenders</th>
        <th>Shedule</th>
        <th>Location</th>
        <th>Report</th>
        <th>Publish</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
  </thead>
  <tbody>
      <% @conferences.each do |conference| %>
      <tr id='<%= conference.fullname %>_row' >
          <td><%= link_to conference.name, {controller: 'admin/events', action: 'index', conf_id: conference.id}, class: ''%></td>
          <td><%= conference.year %></td>
          <td><%= conference.date %></td>
          <td><%= conference.attenders %></td>
          <td><%= link_to 'Schedule', schedule_admin_conference_path(conference.route), class: ''%></td>
          <td><%= unless(conference.location.nil?)
                    link_to "#{conference.location.address}, #{conference.location.city}", location_conference_path(conference.route), class: ''
                  else
                    link_to "Create Location", {controller: 'admin/locations', action: 'new', conf_id: conference.id, conf_fname: conference.fullname}, class: 'btn btn-xs btn-primary'
                  end %></td>
          <td><%= unless(conference.report.nil?)
                    link_to "#{conference.report.address}", report_conference_path(conference.route), class: 'btn btn-xs btn-primary'
                    link_to "#{conference.report.title}", report_conference_path(conference.route), class: 'btn btn-xs btn-info'
                  else
                    link_to "Create Report", {controller: 'admin/reports', action: 'new', conf_id: conference.id, conf_fname: conference.fullname}, class: 'btn btn-xs btn-primary'
                  end %></td>
          <td class='publish'>
            <% if conference.published %>
              Published
            <% else %>
              <%= link_to 'Publish', publish_admin_conference_path(conference.route),remote: true, class: 'btn btn-xs btn-primary' %>              
            <% end %>
          </td>
          <td><%= link_to 'Edit', edit_admin_conference_path(conference.route), class: 'btn btn-xs btn-warning' %></td>
          <td><%= link_to 'Destroy', admin_conference_path(conference.route), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script type="text/javascript">
  $(document).ready(function() {
    $('#conference').dataTable({
      paging: true
    });
  });
</script>
<%= link_to 'New Conference', new_admin_conference_path, class: "btn btn-default btn-sm" %>