<p id="notice"><%= notice %></p>
<h1>Conferences</h1>

<table class="display conference_data_table" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th rowspan='2'>Name</th>
      <th rowspan='2'>Year</th>
      <th rowspan='2'>Date</th>
      <th rowspan='2'>Attenders</th>
      <th rowspan='2'>Schedule</th>
      <th rowspan='2'>Location</th>
      <th rowspan='2'>Report</th>
      <th rowspan='2'>News</th>  
      <th colspan='3'></th>
    </tr>
    <tr>
      <th class='unvisible'></th>
      <th class='unvisible'></th>
      <th class='unvisible'></th>
    </tr>
  </thead>
  <tbody>
      <% @conferences.each do |conference| %>
      <tr id='<%= conference.fullname %>_row'>
          <td><%= link_to conference.name, {controller: 'admin/events', action: 'index', conf_id: conference.id}, class: ''%></td>
          <td><%= conference.year.name %></td>
          <td><%= conference.date %></td>
          <td><%= conference.attenders %></td>
          <td><%= link_to 'Schedule', schedule_admin_conference_path(conference.route), class: ''%></td>
          <td><%= unless(conference.location.nil?)
                    link_to "#{conference.location.truncated_address}", {controller: 'admin/locations', action: 'edit', id: conference.location.id, conf_id: conference.id, conf_fname: conference.fullname}, class: ''
                  else
                    link_to "Create Location", {controller: 'admin/locations', action: 'new', conf_id: conference.id, conf_fname: conference.fullname}, class: 'btn btn-xs btn-primary'
                  end %></td>
          <td><%= unless(conference.report.nil?)
                    link_to "#{conference.report.short_report}", {controller: 'admin/reports', action: 'edit', id: conference.report.id, conf_id: conference.id, conf_fname: conference.fullname}, class: ''
                  else
                    link_to "Create Report", {controller: 'admin/reports', action: 'new', conf_id: conference.id, conf_fname: conference.fullname}, class: 'btn btn-xs btn-primary'
                  end %>
          </td>
          <td><%= if(conference.news.length > 0)
                    link_to "News", {controller: 'admin/news', action: 'index', conf_id: conference.id, conf_fname: conference.fullname}
                  else
                    link_to "Create News", {controller: 'admin/news', action: 'new', conf_id: conference.id, conf_fname: conference.fullname}, class: 'btn btn-xs btn-primary'
                  end %>
          </td>

          <td class='publish'>

            <% if conference.published %>
              Published
            <% else %>
              <%= link_to 'Publish', publish_admin_conference_path(conference.route), method: :patch, remote: true, class: 'btn btn-xs btn-primary' %>              
            <% end %>
          </td>
          <td><%= link_to 'Edit', edit_admin_conference_path(conference.route), class: 'btn btn-xs btn-warning' %></td>
          <td><%= link_to 'Delete', admin_conference_path(conference.route), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Conference', new_admin_conference_path, class: "btn btn-default btn-sm"  %>