<div class="row">
  <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
      <h1>Pacemaker: <%= @conference.name%>, <%= @conference.location.city %>, <%= @conference.date %></h1>
      <%= @report.description %>

  </div>
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 address-box ">
  	  <h1>Photos</h1>
  	  <%= @conference.photo %>
  	  <h1>Videos</h1>
  	  <%= @conference.video %>
  </div>
</div>
