<script src="../../../assets/jquery-ui.js"></script>

<style>
  #sortable { list-style-type: none;}
  #sortable li {}
  #sortable li span { position: absolute;}
</style>
<script>
  $(function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
  });
</script>

<ul id="sortable" class="list-group">
<% @@positionNumber = 0 %>
<% @events.each do |event| %>
  <li class="ui-state-default list-group-item schedule-item" >
    <span class="timestart" style="position: relative;"></span>
    <span class="duration" style="position: relative;"><%= conferenceEventDurationReturn(event.duration) %></span>
    |
    <span style="position: relative;"><%= event.title %></span>
    <span class="idItems" style= "display: none;"><%= event.id %></span>
    <span class="positionItems" style="display: none;"><%= @@positionNumber %><% @@positionNumber += 1 %></span>
    <% unless event.speaker_id.nil? %>
          <span style="position:relative;float:right;"><%= link_to "-" + event.speaker.name + " " + event.speaker.surname, event.speaker %></span>
    <% end %>
  </li>
<% end %>
</ul>

<button onclick="sendAJAX()" class="btn btn-default">Set Position</button><br>

<%= link_to 'New event', controller: 'admin/events', 
                         action: 'new',
                         conf_id: @conference.id,
                         conf_fname: @conference.fullname %>