<%= form_for( [:admin, @event_type], html: {class: 'form-horizontal'} ) do |f|%>
<fieldset>
  

  <div class="form-group">
    <%= f.label :name, class: 'col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label' %>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
      <%= f.text_field :name, class: 'form-control'%>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :description, class: 'col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label' %>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
      <%= f.text_area :description, class: 'form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label" for="event_type_defaultDuration">Default Duration</label>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
      <%= f.time_select :defaultDuration, {start_hour: 0, end_hour: 4, minute_step: 5, time_separator: ''}, class: 'btn-default btn-xs' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :color, class: 'col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label' %>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
      <%= f.color_field :color, class: 'btn-default color-choose' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :image, class: 'col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label' %>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
      <div class="customDropDown">
            <div class="ddHead">
              <span id="DropDownMark" class="btn btn-default btn-sm glyphicon"></span>
                <ul class="bs-glyphicons bs-glyphicons-list">
                <% @@i = 0 %>
                <% takeGLYPHS().each do |className|%>
                  <li><span  class="btn btn-default btn-sm glyphicon glyphicon-<%= className %>" onclick="imageToField(<%= @@i %>)"></span></li>
                  <% @@i=@@i+1 %>
                <% end %>
                </ul>
            </div>
          </div>

        <%= f.hidden_field :image %>
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label" for="event_type_speakerEvent">Speaker Event</label>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
      <div class="checkbox">
        <label>
          <%= f.check_box :speakerEvent, disabled: @notEditable %>
        </label>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :groupable, class: 'col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label' %>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
      <div class="checkbox">
        <label>
          <%= f.check_box :groupable%>
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
      <div class="actions">
        <%= f.submit 'Confirm', class: 'btn btn-primary'%>
      </div>
    </div>
  </div>
</fieldset>
<% end %>
<script>
  var GLYPHSJS = <%= raw takeGLYPHS() %>;
    $(document).on("ready page:load", function(){
    imageFromField('0');
  });
</script>