<p id="notice"><%= notice %></p>

<table class="table table-responsive">
  <colgroup class="new_event_type">
      <col></col>
      <col></col>
    </colgroup>
  <tbody>
    <tr>
      <th>Name:</th>
      <td><%= @event_type.name %></td>
    </tr>
    <tr>
      <th>Description:</th>
      <td><%= @event_type.description %></td>
    </tr>

    <tr>
      <th>Defaultduration:</th>
      <td><%= durationReturn(@event_type.defaultDuration) %></td>
    </tr>

    <tr>
      <th>Color:</th>
      <td><span class="btn-xs" style="background-color:<%= @event_type.color %>"></span></td>
    </tr>

    <tr>
      <th>Image:</th>
      <td><span class="glyphicon"><span class="glyphicon<%=classImage(@event_type.image)%>"></span></span></td>
    </tr>

    <tr>
      <th>Speaker Event:</th>
      <td><span class="glyphicon"><span class="glyphicon<%=trueEventCheck(@event_type.speakerEvent)%>"></span></span></td>
    </tr>

    <tr>
      <th>Groupable:</th>
      <td><span class="glyphicon"><span class="glyphicon<%=trueEventCheck(@event_type.groupable)%>"></span></span></td>
    </tr>

  </tbody>
</table>

<%= link_to 'Edit', edit_admin_event_type_path(@event_type), class: "btn btn-default btn-sm" %>
<%= link_to 'Back', admin_event_types_path, class: "btn btn-default btn-sm" %>

