<%= form_for [:admin, @year], :html => { :class => "form-horizontal year" } do |f| %>

 

  <div class="form-group">
    <%= f.label :'year', "Year*", class: "col-lg-2 control-label" %>
  <div class="col-lg-7">

    <% years_options = ''%>
    <% cur_year = Time.now.year %>
    <% 2011.upto(cur_year+2) do |year| %>
      <% if cur_year.to_s === year.to_s %>
        <% selected = " selected='selected'" %>
      <% else %>
        <% selected = '' %>
      <% end %>
      <% years_options += " <option value=" + year.to_s + selected + " > " + year.to_s + "</option> "%>
      <% end %>
      <%= select_tag "year[name]", years_options.html_safe, class: "form-control"%>
    </div>
  </div>

  
  <div class="form-group">
    <%= f.label :content, class: "col-lg-2 control-label" %>
    <div class="col-lg-7">
    <%= render "admin/share/wysiwyg" %> 
      <div id="editor" class="well col-md-9 col-lg-7 form-control"></div>
    </div>
      <%= hidden_field( :year, :content, class: 'wysiwyg_textarea') %>
  </div>

  <%= f.hidden_field :published, value: false %>
  
  <div class="form-group">
      <div class="col-lg-7 col-lg-offset-2">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  admin_years_path, :class => 'btn btn-default' %>
        </div>
    </div>

<% end %>


