<p id="notice"><%= notice %></p>
<h1>Years</h1>
<table class="display data_table" width="100%" cellspacing="0">
  <thead>
    <tr>
        <th rowspan='2'>Year</th>
        <th rowspan='2'>Description</th>
        <th rowspan='2'>Conferences</th>
        <th colspan='3' class="center-align" style="color:white">Actions</th>
    </tr>
    <tr>
      <th class='unvisible'></th>
      <th class='unvisible'></th>
    </tr>
  </thead>
  <tbody>
    <% @years.each do |year| %>
    <tr id='<%= year.name %>_row' >
        <td><%= year.name %></td>
        <td><%= year.content.html_safe %>
        <td><%= year.conferences.count %></td>
        <td class = 'publish'>
          <% if year.published %>
            Published
          <% else %>
            <%= link_to 'Publish', publish_admin_year_path(year), method: :patch, remote: true, class: 'btn btn-xs btn-primary' %>     
          <% end %>
        </td>
         <td><%= link_to 'Edit', edit_admin_year_path(year), class: 'btn btn-xs btn-warning' %></td>
         <td><%= link_to 'Delete', admin_year_path(year), method: :delete,  data: {confirm: 'Are you sure?'}, class: 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>
<%= link_to 'New year', new_admin_year_path, class: "btn btn-default btn-sm" %>


