<p id="notice"><%= notice %></p>
<h1>Years</h1>
<table class="display data_table" width="100%" cellspacing="0">
  <thead>
    <tr>
        <th>Year</th>
        <th>Description</th>
        <th>Conference count</th>
        <th>Publish</th>
        <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <% @years.each do |year| %>
    <tr id='<%= year.name %>_row' >
        <td><%= year.name %></td>
        <td><%= year.content.html_safe %>
        <td><%= Conference.where(year: year.name.to_i).count %></td>
        <td class = 'publish'>
          <% if year.published %>
            Published
          <% else %>
            <%= link_to 'Publish', publish_admin_year_path(year), method: :patch, remote: true, class: 'btn btn-xs btn-primary' %>     
          <% end %>
        </td>
         <td><%= link_to 'Edit', edit_admin_year_path(year), class: 'btn btn-xs btn-warning' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New year', new_admin_year_path, class: "" %>