<p id="notice"><%= notice %></p>

<h1>Year Page</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @years.each do |year| %>
      <tr>
        <td><%= year.name %></td>
        <td><%= year.content %></td>
        <td><%= link_to 'Show', admin_year_path(yaer) %></td>
        <td><%= link_to 'Edit', edit_admin_year_path(year) %></td>
        <td><%= link_to 'Destroy', admin_year_path(year), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Year', new_admin_year_path %>
