<%= form_for [:admin, @speaker], html:{class: 'form-horizontal'}  do |f| %>
  <% if @speaker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@speaker.errors.count, "error") %> prohibited this speaker from being saved:</h2>

      <ul>
      <% @speaker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-lg-7">
     <div class="form-group">
    <%= f.label :photo, class: "col-lg-2 control-label"%>
    <div class="col-lg-10">
      <%= f.file_field :photo, class: "btn btn-default" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name, class: "col-lg-2 control-label"%>
    <div class="col-lg-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :surname, class: "col-lg-2 control-label"%>
    <div class="col-lg-10">
      <%= f.text_field :surname, class: "form-control" %>
    </div>
  </div>
  </div>
  <div class="col-lg-5"></div>
</div>
<% end %>



