<p id="notice"><%= notice %></p>
<h1>Speakers</h1>
<table class="display data_table" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th rowspan='2'>Name</th>
      <th rowspan='2'>Surname</th>
      <th rowspan='2'>Email</th>
      <th rowspan='2'>Position</th>
      <th rowspan='2'>Description</th>
      <th colspan='3' class='center-align'></th>
    </tr>
    <tr>
      <th class='unvisible'></th>
      <th class='unvisible'></th>
      <th class='unvisible'></th>
    </tr>
  </thead>
  <tbody>
      <% @speakers.each do |speaker| %>
      <tr>
          <td><%= speaker.name %></td>
          <td><%= speaker.surname %></td>
          <td><%= speaker.email %></td>
          <td><%= speaker.position %></td>
          <td><%= speaker.description.html_safe %></td>
          <td><%= link_to 'Show', admin_speaker_path(speaker), class: "btn btn-default btn-xs" %></td>
          <td>
            <%= link_to 'Edit', edit_admin_speaker_path(speaker), class: "btn btn-warning btn-xs" %>
          </td>
          <td>
            <%= link_to 'Delete', admin_speaker_path(speaker), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Invite speaker', invite_admin_speakers_path, class: "btn btn-default btn-sm" %>

<%= link_to 'New speaker', new_admin_speaker_path, class: "btn btn-default btn-sm" %>