<legend>Invite speaker</legend>

<%= form_for @invite, url: { action: "send_invitation"}, html: {method: "post", class: 'form-horizontal'}  do |f| %>
 <% if @invite.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>Oh snap!</strong>
      <ul>
      <% @invite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label(:email, "Email", class: "col-lg-2 control-label") %>
    <div class="col-lg-7">
      <%= f.text_field(:email, class: "form-control")  %>
    </div>
  </div>
  <div class="form-group">
      <%= f.label(:conference_id, "Conference", class: "col-lg-2 control-label") %>
    <div class="col-lg-7">
        <%= f.select :conference_id, options_from_collection_for_select(@conferences, 'id', 'fullname'), class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
   <%= label_tag("invitation[message]", "Message", class: "col-lg-2 control-label") %>
    <div class="col-lg-7">
      <%= render "admin/share/wysiwyg" %> 
      <div id="editor" class="well col-md-9 form-control"></div>
        <div class="help-blocks">
          <%= text_area_tag("invitation[message]", invite_message, size: "15x6", class: 'wysiwyg_textarea') %>
        </div>
        <div class="alert alert-dismissible alert-warning">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <p>Message should include token $${link_invitation}. Message without token will be rejected.</p>
        </div>
    </div>
  </div>

<%= f.hidden_field :status, value: 'New' %> 

<div class="form-group">
  <div class="col-lg-7 col-lg-offset-2">
    <%= submit_tag("Send", class: "btn btn-primary") %>
  </div>
</div>
<% end %>