<%= form_for [@event],  html: {class: 'form-horizontal'}  do |f| %>

  <div class="form-group">
    <%= f.label :event_type_id, 'Event type*', class: "col-lg-2 control-label"%>
    <div class="col-lg-10">
      <% event_type_id = @event_types[0] %>
      <%= select_tag 'event[event_type_id]', options_from_collection_for_select(@event_types, 'id', 'name', event_type_id), class: "form-control", onchange: 'setDefaultData()', speakerEvent: true %>
    </div>
  </div>

  <div class="form-group unvisible">
    <%= f.label :duration, class: "col-lg-2 control-label" %>
    <div class='col-lg-10'>
    <%= f.time_select :duration, {start_hour: 0, end_hour: 4, minute_step: 5, time_separator: ''}, class: 'btn-default btn-xs' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :title, "Name*", class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_area :description, class: "form-control", rows: "2" %>
    </div>
  </div>

  <div class="form-group" id="event_materials_group" >
    <%= f.label :materials, class: "col-lg-2 control-label"%>
    <div class="col-lg-10">
      <%= f.file_field :materials, class: "btn btn-default file_input" %>
    </div>
  </div>

  <div id="form-area"></div>

  <%= f.hidden_field :status, value: 'Complete' %> 
  <%= f.hidden_field :email_hash, value: params[:hash] %> 
  <%= f.hidden_field :conference_id, value: @conference_id %> 
  <%= f.hidden_field :published, value: false %>
  <%= f.hidden_field :speaker_id, value: params[:speaker_id] %>

  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <%= f.submit class: "btn btn-primary"%>
    </div>
  </div>
<% end %>
