
Thank you for registration!

<p id="notice"><%= notice %></p>

<h2>Event <%= @event.id %> <h2>
<h3>Title:  <%= @event.title %></h3>
<h3>Start:  <%= @event.timestart %></h3>
<h3>Type:  <%= @event.event_type.name %></h3>
<h3>Conference:  <%= @event.conference.fullname %></h3>
<h3>Position: <%= @event.position %></h3>
<h3>Speaker:  
  <% unless @event.speaker.nil? %>
    <%= @event.speaker.fullname %>
  <% end %>
</h3>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
