<%= nested_form_for [:admin, @contact] do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :surname %><br>
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :telephone %><br>
    <%= f.text_field :telephone %>
  </div>
    <div>
  <% f.fields_for :telephones do |form| %>
      <%= form.label :number, "Telephone" %><br />
      <%= form.text_field :number%>
      <%= form.link_to_remove "Remove" %>
  <% end %>
  <%= f.link_to_add "Add Telephone", :telephones %>
  

  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :skype %><br>
    <%= f.text_field :skype %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>




