<%= form_for [:admin, @contact] do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :surname %><br>
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :telephone %><br>
    <%= f.text_field :telephone %>
  </div>


  <button type="button" id = "telephone">Click Me!</button>
  <div id = "telephones" >
    


  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :skype %><br>
    <%= f.text_field :skype %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>




<script type="text/javascript">
  $(document).ready(function() {
    $('#telephone').click(function() {
    $('#telephones').html('<p>12345</p>')
  });
});
</script>