<%= nested_form_for( [:admin, @contact],  html: {class: 'form-horizontal'} ) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Name*", class: "col-lg-2 control-label"%>
    <div class="col-lg-7">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
      <%= f.label :surname,"Surname*", class: "col-lg-2 control-label"%>
      <div class="col-lg-7">
        <%= f.text_field :surname, class: "form-control" %>
      </div>
  </div>

  <div class="form-group">
    <%= f.label :telephone, "Telephone*", class: "col-lg-2 control-label"%>
    <div class="col-lg-7">
      <%= f.text_field :telephone, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
      <%= f.label :email, "Email*", class: "col-lg-2 control-label"%>
      <a class="btn-default btn-sm btn-warning" id ="add_button">+</a>
      <div class="col-lg-7">
        <input class="form-control mail-adreess">
      </div>
  </div>
  
  <div id="mail-area"></div>
  <input type="hidden" name="contact[email]" value="">
  
      <div class="form-group">
    <%= f.label :skype, class: "col-lg-2 control-label"%>
    <div class="col-lg-7">
      <%= f.text_field :skype, class: "form-control" %>
    </div>
    </div>
  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <%= f.submit class: "btn btn-primary"%>
    </div>
  </div>
<% end %>


<script type = "text/javascript">

  function RemoveMail(button){
    $(button).parent().remove();
  }

</script>