<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="vendor/assets/dataTables/css/jquery.dataTables.css">
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="vendor/assets/dataTables/js/jquery.dataTables.js"></script> 
<!-- jQuery -->
<script type="text/javascript" src="vendor/assets/javascripts/jquery-1.11.2.js"></script>

<h1>Listing Contacts</h1>
<table id="contact" class="display" width="100%" cellspacing="0">
  <thead>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Telephone</th>
        <th>Email</th>
        <th>Skype</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Telephone</th>
        <th>Email</th>
        <th>Skype</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Delete</th>
   </tr>
  </tfoot>
  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.surname %></td>
        <td><%= contact.telephone %><br>
           <% contact.telephones.each do |telephones| %>
             <%= telephones.number %><br>
           <% end %>
        </td>
        <td><%= contact.email %></td>
        <td><%= contact.skype %></td>
        <td><%= link_to 'Show', admin_contact_path(contact), class: 'btn btn-xs btn-primary' %></td>
        <td><%= link_to 'Edit', edit_admin_contact_path(contact), class: 'btn btn-xs btn-warning' %></td>
        <td><%= link_to 'Destroy', admin_contact_path(contact), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(document).ready(function() {
    $('#contact').dataTable({
      paging: true
    });
  });
</script>

<br>

<%= link_to 'New Contact', new_admin_contact_path %>
