<p id="notice"><%= notice %></p>

<h1>Listing Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Telephone</th>
      <th>Email</th>
      <th>Skype</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.surname %></td>
        <td><%= contact.telephone %></td>
        <td><%= contact.email %></td>
        <td><%= contact.skype %></td>
        <td><%= contact.location_id %></td>
        <td><%= link_to 'Show', admin_contact_path(contact) %></td>
        <td><%= link_to 'Edit', edit_admin_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', admin_contact_path(contact), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_admin_contact_path %>
