<p id="notice"><%= notice %></p>
<h1>Contacts</h1>
<table class="display data_table" width="100%" cellspacing="0">
  <thead>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Telephone</th>
        <th>Email</th>
        <th>Skype</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Telephone</th>
        <th>Email</th>
        <th>Skype</th>
        <th>Edit</th>
        <th>Delete</th>
   </tr>
  </tfoot>
  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.surname %></td>
        <td><% contact.splited_telephone.each do |telephone| %>
             <%= telephone %><br>
            <% end %></td>
         <td><% contact.splited_mail.each do |mail| %>
             <%= mail %><br>
            <% end %></td>
        <td><%= contact.skype %></td>
        <td><%= link_to 'Edit', edit_admin_contact_path(contact), class: 'btn btn-xs btn-warning' %></td>
        <td><%= link_to 'Delete', admin_contact_path(contact), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Contact', new_admin_contact_path,  class: "btn btn-default btn-success"%>
