<p id="notice"><%= notice %></p>

<p>
  <strong>Responsable:</strong>
  <%= @report.responsable %>
</p>

<p>
  <strong>Video:</strong>
  <%= @report.video %>
</p>

<p>
  <strong>Title:<br></strong>
  <%= @report.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @report.description %>
</p>

        


<%= link_to 'Edit', edit_admin_report_path(@report) %> |
<%= link_to 'Back', admin_reports_path %>