<%= form_for(@event_type) do |f| %>
  <% if @event_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_type.errors.count, "error") %> prohibited this event_type from being saved:</h2>

      <ul>
      <% @event_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-striped table-hover ">
    <tr>
      <td><%= f.label :name, class: 'col-lg-2 control-label' %></td>
      <td><%= f.text_field :name, class: 'form-control' %></td>
    </tr>

    <tr>
      <td><%= f.label :description, class: 'col-lg-2 control-label' %></td>
      <td><%= f.text_area :description, class: 'form-control' %></td>
    </tr>

    <tr>
      <td>
        <label class="col-lg-2 control-label" for="event_type_defaultDuration">Default Duration</label>
        <!-- <%= f.label :defaultDuration %> -->
      </td>
      <td>
        <%= f.select(:defaultDuration, [[0, 1], [1, 2], [2, 3], [3, 4]]) %>hr
        <%= f.select(:defaultDuration, [[0, 1], [5, 2], [10, 3], [15, 4], [20, 5], [25, 6], [30, 7], [35, 8], [40, 9], [45, 10], [50, 11], [55, 12]]) %>min
      </td>
    </tr>

    <tr>
      <td><%= f.label :color, class: 'col-lg-2 control-label' %></td>
      <td><%= f.color_field :color, class: 'form-control' %></td>
    </tr>
  
    <tr>
      <td><%= f.label :image, class: 'col-lg-2 control-label' %></td>
      <td>
        <%= f.select(:image,[[0,1],[1,2]]) %>
      </td>
    </tr>

    <tr>
      <td>
        <label class="col-lg-2 control-label" for="event_type_speakerEvent">Speaker Event</label>
        <!-- <%= f.label :speakerEvent %>  -->
      </td>
      <td><%= f.check_box :speakerEvent %></td>
    </tr>

  </table>

  <div class="actions">
    <%= f.submit 'Add Type', class: 'btn btn-primary'%>
  </div>
<% end %>
