<%= form_for @year, :html => { :class => "form-horizontal year" } do |f| %>

    <% if @year.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-name"><%= pluralize(@year.errors.count, "error") %> prohibited this year from being saved:</h3>
      </div>
      <div class="panel-content">
        <ul>
        <% @year.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %> 

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@year[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div id='#'>
      <%= f.text_area :content, as: :bootsy, :class => 'form-control' %>
    </div>
    <%= error_span(@year[:content]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            years_path, :class => 'btn btn-default' %>


<% end %>


