 <%= form_for( [@report],  html: {class: 'form-horizontal'} ) do |f| %>

  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<form class="form-horizontal">
  <fieldset>
    <div class="form-group">
      <%= f.label :conference, class: "col-lg-2 control-label"%>
      <div class="col-lg-10">
        <%= f.text_field :conference, class: "form-control" %>
      </div>
    </div>    
    <div class="form-group">
      <%= f.label "Responsable", class: "col-lg-2 control-label"%>
      <div class="col-lg-10">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>        
    <div class="form-group">
      <%= f.label "Title", class: "col-lg-2 control-label"%>
      <div class="col-lg-10">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>    
    <div class="form-group">
      <%= f.label "Description", class: "col-lg-2 control-label"%>
      <div class="col-lg-10">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
    </div>
    <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <button type="reset" class="btn btn-default">Cancel</button>
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
    </div>
  </fieldset>
</form>
<% end %>