<h1>Listing Conferences</h1>
<table id="conference" class="display" width="100%" cellspacing="0">
  <thead>
    <tr>
        <th>Conference Name</th>
        <th>Year</th>
        <th>Date</th>
        <th>Attenders</th>
        <th>Location</th>
        <th>Report</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
  </thead>
  <tbody>
      <% @conferences.each do |conference| %>
      <tr>
          <td><%= conference.name %></td>
          <td><%= conference.year %></td>
          <td><%= conference.date %></td>
          <td><%= conference.attenders %></td>
          <% conf = conference.name.to_s + "-" + conference.year.to_s %>
          <td><%= unless(conference.location.nil?)
                    link_to "#{conference.location.address}", location_conference_path(conf)
                  else
                    link_to "Create Location", new_admin_location_path()
                  end %></td>
          <td><%= unless(conference.report.nil?)
                    link_to "#{conference.report.address}", report_conference_path(conf)
                  else
                    link_to "Create Report", new_admin_report_path()
                  end %></td>
          <td><%= link_to 'Publish', about_conference_path(conference.name.to_s + "-" + conference.year.to_s) %></td>
          <td><%= link_to 'Edit', edit_conference_path(conference.name.to_s + "-" + conference.year.to_s) %></td>
          <td><%= link_to 'Destroy', conference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Conference', new_conference_path, class: "btn btn-default btn-sm"  %>
