<h1>Invite speaker</h1>

<%= form_tag("/speakers/send", method: "post") do %>
<div class="field">
  <%= label_tag(:email, "Email") %><br>
  <%= email_field(:speakers_id, :email) %>
</div>
<div class="field">
  <%= label_tag(:message, "Message") %><br>
  <%= text_area_tag(:message, "Hi! You are invited for registration at our site! Your link is ", size: "24x6") %>
</div>
<div class="actions">
  <%= submit_tag("Send") %>
</div>
<% end %>

<%= link_to 'Back', speakers_path %>
