<<<<<<< HEAD
<div class='speaker-container one-speaker'>
	<div class='speaker-photo'>
		<img class='photo' alt= <%= @speaker.name.to_s + @speaker.surname.to_s %> src= <%= @speaker.photo || "/assets/pacemaker_logo.png" %> >
	</div>

	<div class='speaker-name'>
		<%= @speaker.name %>
		<%= @speaker.surname %>
	</div>
	<div>
		<%= @speaker.description %>
	</div>
	<div>
		<p><%= @speaker.email %></p>
		<p><%= @speaker.facebook %></p>
		<p><%= @speaker.linkedin %></p>
		<p><%= @speaker.site %></p>
	</div>
	<hr>

</div>

<div class = 'speeches-list'>

	<div>
		<div>
			<h2> Conferences: </h2>	
=======
	<div class='speaker-container one-speaker'>
		<div class = 'speaker-photo'>
			<%= image_tag( @speaker.photo.url(:thumb), class: 'photo', alt: @speaker.name ) %>  
	   	</div>
		<div class='speaker-name'>
			<%= @speaker.fullname %>
>>>>>>> 21eaf485f32dcffe52ebba0e3e31ca098ba7b08c
		</div>
		<div class="speaker-description">
			<p><%= @speaker.description %></p>
		</div>
		<ul class="speaker-contacts">
			<li><a  <%= @speaker.email %> > <img src="/assets/twitter13.svg"></a></li>
	    	<li><a <%= @speaker.facebook %> > <img src="/assets/facebook29.svg"></a></li>
			<li><a <%= @speaker.linkedin %> > <img src="/assets/linkedin12.svg"></a></li>
			<li><a> <%= @speaker.site %></a></li>
		</ul>
		<hr>
	</div>
	<div class = 'speeches-list'>

	<% @speaker.events.order(id: :desc).each do |speech| %>
		<% if Time.now < speech.conference.date %>

<!-- ongoing -->
			<div class='ongoing-speech-container'>
				<div class='speech-conference'>
					<h2> <%= link_to speech.conference.fullname, about_conference_path( speech.conference.fullname ) %> </h2>
				</div>

				<div class='speech-details'>
					<h2> <%= speech.title %> </h2>
					<h4>
						<%= speech.description %>
					</h4>
				</div>
			</div>
		<% else %>
<!-- old speeches -->
		<div class='speech-container'>
			<div class='speech-conference'>
				<h3> <%= link_to speech.conference.fullname, about_conference_path(speech.conference.fullname) %> </h3>	
			</div>
			<div class='speech-details'>
				<h2> <%= speech.title %> </h2>
				<h4> 
					<%= speech.description %>
				</h4>
			</div>
		</div>
		<% end %>		
		<% end %>		
	</div>
