<div class='speaker-container one-speaker'>
	<div class='speaker-photo'>
		PHOTO
	</div>

	<div class='speaker-name'>
		<%= @speaker.name %>
		<%= @speaker.surname %>
	</div>

	<div>
		<%= @speaker.description %>
	</div>

	<div>
		<p><%= @speaker.email %></p>
		<p><%= @speaker.facebook %></p>
		<p><%= @speaker.linkedin %></p>
		<p><%= @speaker.site %></p>
	</div>
	<hr>

</div>

<div class = 'speeches-list'>

	<div>
		<div>
			<h2> Conferences: </h2>	
		</div>

		<div class='speech-details'>
			<h2> Speeches: </h2>
		</div>
	</div>

	<% @speaker.events.order(timeStart: :desc).each do |speech| %>

		<% if Time.now < speech.timestart %>
			<!-- ongoing -->

			<div class='ongoing-speech-container'>
				<div class='speech-conference'>
					<% conf = speech.conference.name.to_s + "-" + speech.conference.year.to_s %>
					<h2> <%= link_to speech.conference.name, about_conference_path( conf ) %> </h2>	
				</div>

				<div class='speech-details'>
					<h1> <%= speech.title %> </h1>
					<h3>
						<%= speech.description %>
					</h3>
				</div>
			</div>

		<% else %>
			<!-- old speeches -->

			<div class='speech-container'>
				<div class='speech-conference'>
					<% conf = speech.conference.name.to_s + "-" + speech.conference.year.to_s %>
					<h2> <%= link_to speech.conference.name, about_conference_path(conf) %> </h2>	
				</div>

				<div class='speech-details'>
					<h1> <%= speech.title %> </h1>
					<h3> 
						<%= speech.description %>
					</h3>
				</div>
			</div>

		<% end %>		
	<% end %>		
	
</div>