	<div class="row">
	<div class='speaker-container one-speaker col-lg-8 col-sm-12 col-xs-12'>
		<div class = 'speaker-photo'>
     				PHOTO
     			</div>
		<div class='speaker-name'>
			<%= @speaker.name %>
			<%= @speaker.surname %>
		</div>
		<div class="speaker-description">
			<p><%= @speaker.description %></p>
		</div>
		<ul class="speaker-contacts">
			<li><a  <%= @speaker.email %> > <img src="/assets/twitter13.svg"></a></li>
	    	<li><a <%= @speaker.facebook %> > <img src="/assets/facebook29.svg"></a></li>
			<li><a <%= @speaker.linkedin %> > <img src="/assets/linkedin12.svg"></a></li>
			<li><a> <%= @speaker.site %></a></li>
		</ul>
		<hr>
	</div>
	<div class="col-lg-4"></div>
	</div>

	<div class = 'speeches-list '>

		<% @speaker.events.order(timeStart: :desc).each do |speech| %>
		<% if Time.now < speech.timestart %>
			<!-- ongoing -->
		<div class='ongoings-speech-container row'>
			<div class='speech-conference col-lg-3 col-md-4 col-sm-4 col-xs-12'>
 				<div>
				<h3> <%= link_to speech.conference.fullname, about_conference_path( speech.conference.fullname ) %> </h3>
				</div>
			</div>

			<div class='speech-details col-lg-6 col-md-7 col-sm-7 col-xs-12'>
				<h3> <%= speech.title %> </h3>
				<p>
					<%= speech.description %>
				</p>
			</div>
		</div>
		<% else %>
			<!-- old speeches -->
		<div class='speechs-container row'>
			<div class='speech-conference col-lg-3 col-md-4 col-sm-4 col-xs-12'>
				<h3> <%= link_to speech.conference.fullname, about_conference_path(speech.conference.fullname) %> </h3>	
			</div>
			<div class='speech-details col-lg-6 col-md-7 col-sm-7 col-xs-12'>
				<h3> <%= speech.title %> </h3>
				<p>
					<%= speech.description %>
				</p>
			</div>
		</div>
		<% end %>		
		<% end %>		
	</div>
