
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/<%= Conference.last_conference_route %>">Pacemaker</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Years', admin_years_path %></li>
        <li><%= link_to 'Conferences', admin_conferences_path %></li>
        <li><%= link_to 'Speakers', admin_speakers_path %></li>
        <li><%= link_to 'Contacts', admin_contacts_path %></li>
        <li><%= link_to 'Event types', admin_event_types_path %></li>
        <li><%= link_to 'Invitation messages', admin_messages_path %></li>
        <li><%= link_to 'Invitations', admin_invitations_path %></li>
        <li><%= link_to 'Configurations', edit_admin_configurations_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'About', page_path('about') %></li>
        <li><%= link_to 'Authors', page_path('authors') %></li>
        <li>
          <% if admin_signed_in? %>
    			 <%= link_to "#{current_admin.username} | Logout", destroy_admin_session_path, method: :delete %>
					<% else %>
			     <%= link_to "Login", new_admin_session_path %>
			    <% end %>
		    </li>
      </ul>
    </div>
  </div>
</nav>