<link rel="stylesheet" type="text/css" href="stylesheets/styleMenu.css">
	<div class="container ">
		<div class="main-menu">
			<ul class="conference-menu">
				<div id="redBtn">
					<li class="year">
						<img src="/assets/RED.png">
						<p><a href="http://localhost:3000/conferences/">2013</a></p>
					<li class="old-other">
						<img src="/assets/GREY.png">
						<p><a href="http://localhost:3000/">RUBY</a></p>
					</li>
					<li class="old-other">
						<img src="/assets/GREY.png">
						<p><a href="http://localhost:3000/">JAVA</a></p>
					</li>					
					<li class="old-other">
						<img src="/assets/GREY.png">
						<p><a href="http://localhost:3000/">C++</a></p>
					</li>					
					<li class="old-other">
						<img src="/assets/GREY.png">
						<p><a href="http://localhost:3000/">.NET</a></p>
					</li>
					</li>
				</div>
				<div id="blueBtn">
					<li class="inside">
						<img src="/assets/BLUE.png">
						<p><a href="http://localhost:3000/conferences/">2014</a></p>
					<li class="year-other">
						<img src="/assets/GREY.png">
						<p><a href="http://localhost:3000/">LAMP</a></p>
					</li>					
					<li class="year-other">
						<img src="/assets/GREY.png">
						<p><a href="http://localhost:3000/">Web-UI</a></p>
					</li>					
					<li class="year-other">
						<img src="/assets/GREY.png">
						<p><a href="http://localhost:3000/">JScrip</a></p>
					</li>					
					<li class="year-other">
						<img src="/assets/GREY.png">
						<p><a href="http://localhost:3000/">CSS3</a></p>
					</li>
					</li>
				</div>
				<div id="greenBtn">
					<li class="current-year">
						<img src="/assets/GREEN.png">
						<p><a href="http://localhost:3000/conferences/">2015</a></p>
					<li class="future-other">
						<img src="/assets/GREY.png">
						<p><a href="http://localhost:3000/">RUBY</a></p>
					</li>
					<li class="future-other">
						<img src="/assets/GREY.png">
						<p><a href="http://localhost:3000/">JAVA</a></p>
					</li>					
					<li class="future-other">
						<img src="/assets/GREY.png">
						<p><a href="http://localhost:3000/">C++</a></p>
					</li>					
					</li>
				</div>
			</ul>
		</div>

	<script>
		$(document).ready(function () {
 		$('.old-other').hide();
 		$('.year-other').hide();
 		$('.future-other').hide();
			$( "#redBtn" ).click(function() {
				$(this).parent().find( ".old-other" ).first().toggle( "fast", function showNext() {
					$( this ).next( ".old-other" ).toggle( "fast", showNext );
				});
			});
			$( "#blueBtn" ).click(function() {
				$( ".year-other" ).first().toggle( "fast", function showNext() {
					$( this ).next( ".year-other" ).toggle( "fast", showNext );
				});
			});
			$( "#greenBtn").click(function() {
				$( ".future-other" ).first().toggle( "fast", function showNext() {
					$( this ).next( ".future-other" ).toggle( "fast", showNext );
				});
			});
		});
	</script>
	
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<ul class="nav nav-pills">
						<% unless @conference.nil? || @conference.id.nil? %>
							<li><%= link_to "About", about_conference_path %></a></li>
							<li><%= link_to "Speakers", speakers_conference_path%></a></li>
							<li><%= link_to "Scheduale", '#'%></a></li>
							<li><%= link_to "Location", location_conference_path%></a></li>
							<li><%= link_to "Report", '#' %></a></li>
						<% end %>
					</ul>
				</div>
				<div class="col-lg-6 col-md-6"></div>
			</div>
			
				<div class="row slogo">
					<div class="col-lg-9 col-md-9 col-sm-7 col-xs-8">
						<div class="blockquotes-container">
							<div class="pull-right">
								<h4>It takes all the running you can do, to keep in the same place.<br>If you want to get somewhere else, you must run at least twice as fast as that!</h4>
								<small>Red Queen</small>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-5 col-xs-4 logo-img" >
						<img alt="logo" src="/assets/pacemaker_logo.png">
					</div>
				</div>
			
			<div class="row first">
				<div class="name-conteiner col-lg-9 col-md-9 col-sm-8 col-xs-12">
					<div class="conference-name">
						<h1> Pacemaker
							<% if @conference %>
								: <%= @conference.name%>
								-<%= @conference.year %>
							<% end %>
						</h1>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 contacts">
					<div class="conference-det-2">
						<ul>
							<% if @conference %>
							<li>
								This time <strong><%= @conference.attenders %> lucky people</strong> 
							</li>
							<li>
								will meet on <strong><%=@conference.date %></strong>
							</li>
							<li>
							in a beautiful city of <strong> Lviv</strong></li>
							<% end %>	
						</ul>
					</div>
				</div>
			</div>