	<style>

		.main-menu {
	    margin: 0 0 35px 0;
		}
		.main-menu ul div{
	    display: inline-block;
	    width: auto;
	    margin-right: 0 0 0 25px; 
		}
		.main-menu ul div li{
		}

		.old-other {
		display: none;
		position: relative;
		text-align: center;
		}
		.year-other {
		display: none;
		text-align: center;
		}
		.future-other {
		display: none;
		}
		.old-other{
		display: none;
		}
        p{
        margin: -90%;
        font-style: 24px, bold;
        text-align: center;	
        text-decoration:underline,;
        color: #ffffff; 
    	background: transparent; 
    	padding: 2px; 
        }
        img {
        width: auto;	
        }
        a {
	    color: white;
	    background-color: transparent;
	    }
	    a:visited {
	    color: #cecece;
	    }
	    a:active {
	    color: #ffff00;
	    }

	</style>
	<div class="container ">
		<div class="main-menu">
			<ul class="conference-menu">
				<div id="greyBtn">
					<li class="other">
						<img src="/assets/GREY.png">
						<p><a href="http://localhost:3000/about">Event</a></p>
					</li>
				</div>
				<div id="redBtn">
					<li class="year">
						<img src="/assets/RED.png">
						<p><a href="http://localhost:3000/conferences/about">2013</a></p>
					<li class="old-other">
						<img src="/assets/GREY.png">
						<p><a href="http://localhost:3000/about">RUBY</a></p>
					</li>
					<li class="old-other">
						<img src="/assets/GREY.png">
						<p><a href="http://localhost:3000/about">JAVA</a></p>
					</li>					
					<li class="old-other">
						<img src="/assets/GREY.png">
						<p><a href="http://localhost:3000/about">C++</a></p>
					</li>					
					<li class="old-other">
						<img src="/assets/GREY.png">
						<p><a href="http://localhost:3000/about">.NET</a></p>
					</li>
					</li>
				</div>
				<div id="blueBtn">
					<li class="inside">
						<img src="/assets/BLUE.png">
						<p><a href="http://localhost:3000/conferences/about">2014</a></p>
					<li class="year-other">
						<img src="/assets/GREY.png">
						<p><a href="http://localhost:3000/about">LAMP</a></p>
					</li>					
					<li class="year-other">
						<img src="/assets/GREY.png">
						<p><a href="http://localhost:3000/about">Web-UI</a></p>
					</li>					
					<li class="year-other">
						<img src="/assets/GREY.png">
						<p><a href="http://localhost:3000/about">JScrip</a></p>
					</li>					
					<li class="year-other">
						<img src="/assets/GREY.png">
						<p><a href="http://localhost:3000/about">CSS3</a></p>
					</li>
					</li>
				</div>
				<div id="greenBtn">
					<li class="current-year">
						<img src="/assets/GREEN.png">
						<p><a href="http://localhost:3000/conferences/about">2015</a></p>
					<li class="future-other">
						<img src="/assets/GREY.png">
						<p><a href="http://localhost:3000/about">RUBY</a></p>
					</li>
					<li class="future-other">
						<img src="/assets/GREY.png">
						<p><a href="http://localhost:3000/about">JAVA</a></p>
					</li>					
					<li class="future-other">
						<img src="/assets/GREY.png">
						<p><a href="http://localhost:3000/about">C++</a></p>
					</li>					
					</li>
				</div>
			</ul>
		</div>

	<script>
		$(document).ready(function () {
 			$('.old-other').hide();
		$( "#redBtn" ).click(function() {
		$(this).parent().find( ".old-other" ).first().toggle( "fast", function showNext() {
		$( this ).next( ".old-other" ).toggle( "fast", showNext );
		});
		});
		});
	</script>
	<script>
		$(document).ready(function () {
			$('.year-other').hide();
		$( "#blueBtn" ).click(function() {
		$( ".year-other" ).first().toggle( "fast", function showNext() {
		$( this ).next( ".year-other" ).toggle( "fast", showNext );
		});
		});
		});
	</script>
	<script>
		$(document).ready(function () {
			$('.future-other').hide();
		$( "#greenBtn").click(function() {
		$( ".future-other" ).first().toggle( "fast", function showNext() {
		$( this ).next( ".future-other" ).toggle( "fast", showNext );
		});
		});
		});
	</script>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<ul class="nav nav-pills">
						<% unless @conference.nil? || @conference.id.nil? %>
							<li><%= link_to "About", about_conference_path %></a></li>
							<li><%= link_to "Speakers", speakers_conference_path%></a></li>
							<li><%= link_to "Schedual", '#'%></a></li>
							<li><%= link_to "Location", location_conference_path%></a></li>
							<li><%= link_to "Report", '#' %></a></li>
						<% end %>
					</ul>
				</div>
				<div class="col-lg-6 col-md-6"></div>
			</div>
			
				<div class="row slogo">
					<div class="col-lg-9 col-md-9 col-sm-7 col-xs-8">
						<div class="blockquotes-container">
							<div class="pull-right">
								<h4>It takes all the running you can do, to keep in the same place.<br>If you want to get somewhere else, you must run at least twice as fast as that!</h4>
								<small>Red Queen</small>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-5 col-xs-4 logo-img" >
						<img alt="logo" src="/assets/pacemaker_logo.png">
					</div>
				</div>
			
			<div class="row first">
				<div class="name-conteiner col-lg-9 col-md-9 col-sm-8 col-xs-8">
					<div class="conference-name">
						<h1> Pacemaker
							<% if @conference %>
								: <%= @conference.name%>
								-<%= @conference.year %>
							<% end %>
						</h1>
					</div>
				</div>
				<div class=" contacts col-lg-3 col-md-3 col-sm-4 col-xs-4">
					<div class="conference-det-2">
						<ul>
							<% if @conference %>
								<li>
									This time <strong><%= @conference.attenders %> lucky people</strong> 
								</li>
								<li>
									will meet on <strong><%=@conference.date %></strong>
								</li>
								<li>
									in a beautiful city of <strong> Lviv</strong></li>
							<% end %>	
						</ul>
					</div>
				</div>
			</div>