<div class="container">
<div class="main-menu">

	<% years = Conference.uniq.pluck(:year).sort %>
	<% last_year = years[-1] %>
	<% years = years[0...-1] %>
	<% if @conference %>
		<% active_year = @conference.year %>
	<% elsif @year %>
		<% active_year = @year.name.to_i %>
	<% else %>
		<% active_year = last_year %>
	<% end %>


	<ul class="conference-menu" id='conference_menu' years='<%= years %>'>

		<% years.each do |year| %>

			<% if year === active_year %>
				<% flag_settings = {conf_display: '', year_flag_color: 'RED.png'} %>
			<% else %>
				<% flag_settings = {conf_display: "display:none;", year_flag_color: 'GREY.png'} %>
			<% end %>

			<li class="flag-year-image-container" id="flag-<%=year%>" year='<%=year%>'>
				<% if Year.where(name: year)[0].published %>
					<%= link_to( image_tag(flag_settings[:year_flag_color]), year_path(year))%>
				<% else %>
					<%= image_tag(flag_settings[:year_flag_color]) %>
				<% end %>
				<p class='flag-text'> <%= year %> </p> 
			</li>

			<% Conference.where(year: year).order(date: :asc).each do |conference| %>

				<% if conference === @conference %>
					<% flag_settings[:conf_flag_color] = 'BLUE.png' %>
				<% else %>
					<% flag_settings[:conf_flag_color] = 'GREY.png' %>
				<% end %>

				<% if can? :read, conference %>
					<li class="flag-image-container conference-<%= year %> conference-flag <%= conference.published ? "" : "unpublished" %> " style="<%=flag_settings[:conf_display]%>" >
						<%= link_to(  image_tag(flag_settings[:conf_flag_color]), about_conference_path(conference.route) )%>
						<div class='flag-text'> <%= link_to  conference.name + " " + conference.year.to_s, about_conference_path(conference.route) %> </div>  
					</li>
				<% end %>

			<% end %>

		<% end %>

		<% current_year = years[-1].to_i + 1 %>

		<% Conference.where(year: current_year).each do |conference| %>
			<li class="flag-image-container conference-<%= current_year %> conference-flag" >
				<%= link_to(  image_tag('GREEN.png'), about_conference_path(conference.route) )%>
				<div class='flag-text'> <%= link_to  conference.name + " " + conference.year.to_s, about_conference_path(conference.route) %> </div> 
			</li>
		<% end %>

</ul>
</div>