<div class="container">
<div class="main-menu">
	<% years = Conference.uniq.pluck(:year).sort %>
	<% years = years[0...-1] %>
	<ul class="conference-menu" id='conference_menu' years='<%= years %>'>
		<% years.each do |year| %>
			<li class="flag-image-container" id="flag-<%=year%>" year='<%=year%>'>
				<%= image_tag('RED.png')%>
				<p class='flag-text'> <%= year %> </p> 
			</li>
			<% Conference.where(year: year).each do |conference| %>
				<li class="flag-image-container conference-<%= year %> conference-flag" style="display:none;" >
					<%= link_to(image_tag('GREY.png'))%>
					<div class='flag-text'> <%= link_to  conference.name + " " + conference.year.to_s, about_conference_path(conference.fullname) %> </div> 
				</li>
			<% end %>
		<% end %>
		<% current_year = years[-1].to_i + 1 %>
		<% Conference.where(year: current_year).each do |conference| %>
			<li class="flag-image-container conference-<%= current_year %> conference-flag" >
				<%= link_to(  image_tag('GREEN.png'), about_conference_path(conference.fullname) )%>
				<div class='flag-text'> <%= link_to  conference.name + " " + conference.year.to_s, about_conference_path(conference.fullname) %> </div> 
			</li>
		<% end %>
</ul>
</div>



<script>
// $(document).ready(function () {

// 	$('li.conference-menu').hover(function(){
// 	    $(this).addClass('hovered');
// 	},function(){
// 	    $(this).removeClass('hovered');
// 	});

// 	$( ".redBtn" ).click(function() {
// 		$(this).parent().find( ".old-other" ).first().toggle( 100, function showNext() {
// 			$( this ).next( ".old-other" ).toggle( 100, showNext );
// 		});
// 	});
// 	$( ".blueBtn" ).click(function() {
// 		$( ".year-other" ).first().toggle( 100, function showNext() {
// 			$( this ).next( ".year-other" ).toggle( 100, showNext );
// 		});
// 	});
// 	$( ".blueBtn2").click(function() {
// 		$( ".future-other" ).first().toggle( 100, function showNext() {
// 			$( this ).next( ".future-other" ).toggle( 100, showNext );
// 		});
// 	});
// });
</script>