<% if @conference %>
	<% active_year = @conference.year %>
	<% active_conference = @conference %>
<% elsif @year %>
	<% active_year = @year %>
	<% active_conference = nil %>
<% else %>
	<% active_year = MainMenu.last_year %>
	<% active_conference = nil %>
<% end %>
<div class="main-menu" style="height: 150px; background: #ffffff; margin: 15px 0;">
	<div class="col-lg-12">
		<ul class="nav nav-pills" id="conference_nav_buttons">
			<% MainMenu.years.each do |year|%>
				<li class="<%= active_year == year ? 'active' : '' %>" id='about_button' >
					<%= link_to year.name.to_s, year_events_path(year.name) %>
				</li>
			<% end %>
		</ul>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<ul class="navigation">
				<% if active_conference %>
					<% next_conference = next_conference_for(active_conference) %>
					<% previous_conference = previous_conference_for(active_conference) %>
				<% end %>
				<% if active_conference && previous_conference %>
					<li class="previous">
						<a href="<%= about_conference_path(previous_conference.route) %>">
							<div></div>
						</a>
					</li>
				<% end %>
				<ul class="conferences">
					<% Conference.year(active_year).by_date_asc.each do |conf| %>
						<% if can? :read, conf %>
							<a href="<%= about_conference_path(conf.route) %>">
								<li class="<%= conf == active_conference ? 'active' : '' %> <%= publishing_status(conf) %>">
									<span class="vertical-center">
										<%= conf.name %>
									</span>
								</li>
							</a>
						<% end %>
					<% end %>
				</ul>
				<% if active_conference && next_conference %>
					<li class="next">
						<a href="<%= about_conference_path(next_conference.route) %>">
							<div></div>
						</a>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>