<div class="container">
<div>
<div class="main-menu">

	<% conferences, years, last_year = MainMenu.params %>
	<% if @conference %>
		<% active_year = @conference.year.name.to_i %>
	<% elsif @year %>
		<% active_year = @year.name.to_i %>
	<% else %>
		<% active_year = last_year.name.to_i %>
	<% end %>


	<ul class="conference-menu" id='conference_menu' years='<%= years %>'>

		<% years.each do |year| %>

			<% if year.name.to_i === active_year %>
				<% flag_settings = {conf_display: '', year_flag_color: 'REDlight.png'} %>
			<% else %>
				<% flag_settings = {conf_display: "display:none;", year_flag_color: 'GREYdark.png'} %>
			<% end %>

			<li class="flag-year-image-container" id="flag-<%=year%>" year='<%=year%>'>
				<% if year.published %>
					<%= link_to( image_tag(flag_settings[:year_flag_color]), year_path(year))%>
				<% else %>
					<%= image_tag(flag_settings[:year_flag_color]) %>
				<% end %>
				<p class='flag-text'> <%= year %> </p> 
			</li>

			<% conferences.where(year: year).order(date: :asc).each do |conference| %>

				<% if conference === @conference %>
					<% flag_settings[:conf_flag_color] = 'BLUElight.png' %>
				<% else %>
					<% flag_settings[:conf_flag_color] = 'GREYlight.png' %>
				<% end %>

				<% if can? :read, conference %>
					<li class="flag-image-container conference-<%= year %> conference-flag <%= conference.published ? "" : "unpublished" %> " style="<%=flag_settings[:conf_display]%>" >
						<%= link_to(  image_tag(flag_settings[:conf_flag_color]), about_conference_path(conference.route) )%>
						<div class='flag-text'> <%= link_to  conference.name + " " + conference.year.to_s, about_conference_path(conference.route) %> </div>  
					</li>
				<% end %>

			<% end %>

		<% end %>

</ul>
</div>
</div>