<div class="container">
<div class="main-menu">

	<% conferences, years, last_year = MainMenu.params %>
	<% if @conference %>
		<% active_year = @conference.year.name.to_i %>
	<% elsif @year %>
		<% active_year = @year.name.to_i %>
	<% else %>
		<% active_year = last_year.name.to_i %>
	<% end %>


	<ul class="conference-menu" id='conference_menu' years='<%= years.pluck(:name).map do |year| year.to_i end %>'>

		<% years.each do |year| %>

			<% if year == last_year %>
				<% flag = Flag.new('display' => 'display: none', 
					'image_path' => 'RED.png') %>
				<% display = '' %>
			<% elsif year.name.to_i === active_year%>
				<% flag = Flag.new('image_path' => Flag::RED) %>
				<% display = '' %>
			<% else %>
				<% flag = Flag.new('image_path' => Flag::GREY) %>	
				<% display = 'display: none;' %>
			<% end %>

			<li class="flag-year-image-container" id="flag-<%=year.name.to_s%>" 
				year='<%=year.name.to_s%>' style="<%=flag.display%>">
				<% if year.published %>
					<%= link_to( image_tag(flag.image_path), year_path(year.name))%>
				<% else %>
					<%= image_tag(flag.image_path) %>
				<% end %>
				<p class='flag-text'> <%= year.name %> </p> 
			</li>

			<% conferences.where(year: year).order(date: :asc).each do |conference| %>

				<% if conference === @conference && year === last_year%>
					<% flag = Flag.new('image_path' => Flag::GREEN,
						'display' => display) %>	
				<% elsif conference === @conference %>
					<% flag = Flag.new('image_path' => Flag::BLUE, 
						'display' => display) %>	
				<% else %>
					<% flag = Flag.new('image_path' => Flag::GREY, 
						'display' => display) %>	
				<% end %>

				<% if can? :read, conference %>
					<li class="flag-image-container conference-<%= year.name.to_s %> 
						conference-flag <%= conference.published ? "" : "unpublished" %> "
						style="<%=flag.display %>" >
						<%= link_to(  image_tag(flag.image_path),
							about_conference_path(conference.route) )%>
						<div class='flag-text'> <%= link_to  conference.name + " " + 
							conference.year.name.to_s, about_conference_path(
							conference.route) %> 
						</div>  
					</li>
				<% end %>
			<% end %>
		<% end %>

</ul>
</div>