<!DOCTYPE html>
<html>
<head>
  <title>admin | Pacemaker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

	<body>
	
		<%= render 'layouts/admin_links' %>

		<div class="row main-content">
			<%= yield %>
		</div>

	</body>
</html>
