<!DOCTYPE html>
<html>
<head>
 	<title>
 		<%= title %>
 	</title>
 	<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=true&key=AIzaSyDtEmyV01rpLwDkBjOhuG-YwPzhBrhROOE"></script>
 	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 	<%= javascript_include_tag 'google_analytics.js', 'data-turbolinks-track' => false %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="preloader"></div>
	<div class="container">
		<div class="row">
			<%= render 'layouts/header_title' %>
			<%= render 'layouts/header' %>
			<%= render 'layouts/main_menu' %>
			<div class="devide-line"></div>
			<%= render 'layouts/currentConferenceTable' %>
			<div class="row main-content">
				<%= yield %>
			</div>
			<%= render 'layouts/footer' %>
		</div>
	</div>
</body>
</html>
